


<% @issues.each do |i| %>


<ul class="p-3 mb-2 bg-info text-white">
<li>
Issue #:<em class="erb"><%= i.id %> </em>
Date:<em class="erb"><%= i.date %></em>
<br>
 <br>Issue: <em class="erb"><%= i.name_of_your_issue %></em> 
</li>

</ul>
<% end %>

<h1><%= link_to "What issues are you having?", new_issue_path%></h1>


<h1><%= link_to "Your Vehicles Home", vehicles_path %></h1>
