<h1>Add an issue</h1>
<div class="col-4">
<div class="alert alert-success" role="alert">
<%= form_for @issue do |f|  %>


<%= f.label :date %>
<%= f.date_field :date%>


<%= f.label :name_of_your_issue %>
<%= f.text_field :name_of_your_issue %>



<%= f.submit "Create your issue" %>
<% end %>
</div>
</div>

<h2><%= link_to "Your Issues Home", issues_path %></h2>