<h1>hello <%= @user.name %></h1>
<h2 class="white">You have <p class="erb"><%= @user.vehicles.length %> vehicles</p></h2>

<div class="white">
<%= link_to "Your Vehicles Home", user_vehicles_path(@user.id) %>
<%= link_to "New Vehicles", new_user_vehicle_path(@user.id) %>

<%= link_to 'Log Out', logout_path, method: :delete %>
</div>