<h2 class="white">Edit your Vehicle</h2>
<div class="col-4">
<div class="alert alert-success" role="alert">
<%= bootstrap_form_for @vehicle, url: vehicle_path(@vehicle), method: :patch do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @vehicle} %>
    
    <%= f.text_field :vehicle_name%>

    <%= f.text_field :make %>

    <%= f.text_field :model %>

    <%= f.number_field :year %>

    <%= f.number_field :mileage %>

    <%= f.number_field :wheel_size %>

    <%= f.text_field :color %>
  
  <%= f.submit%>
  
    <% end %>
    </div>
    </div>
<%= button_to "delete", @vehicle, :method => "delete" %>