<h1><%= current_user.name %></h1>

<h1>These are all of your Vehicle(s)</h1>

<%= link_to "Add a vehicle", new_vehicle_path %>


<div>
<table style="width:50%">
<tr>
<th>Make</th>
<th>Model</th>
<th>Year</th>
<th>Mileage</th>
<th>Wheel size</th>
</tr>
<tr>
<% @vehicles.each do |v| %>
<td><%=v.make.capitalize %></td>
<td><%=link_to "#{v.model.capitalize}", vehicle_path(v) %></td>
<td><%= v.year %></td>
<td><%= v.mileage %></td>
<td><%=v.wheel_size %></td>
</tr>
<% end %>
</table>
</div>