

<h3 class="gray">These are all of your Vehicle(s)</h3>

<%= link_to "Create a vehicle", new_vehicle_path %>


<%= form_for vehicles_path, method: :get  do |f| %>

    <%= f.label :model %>
    <%= f.text_field :model %>
    
    <%= f.submit "search for your vehicle" %>

<% end %>




<div>
<table class="table">
 <thead class="white">
    <tr>
     <th scope="col"></th>
     <th scope="col">Name</th>
     <th scope="col">Make</th>
     <th scope="col">Model</th>
     <th scope="col">Year</th>
     <th scope="col">Mileage</th>
     <th scope="col">Wheel size</th>
     <th scope="col">Color</th>
    </tr>
 </thead>
<tbody class="white">

<tr>
<% @vehicles.each do |car| %>
<th scope="col"></th>
<td><%=car.vehicle_name  %></td>
<td><%=car.make.capitalize %></td>
<td><%=link_to car.model.capitalize, vehicle_path(car) %></td>
<td><%= car.year %></td>
<td><%= car.mileage %></td>
<td><%=car.wheel_size %></td>
<td><%= car.color %></td>

</tr>
<% end %>
</tbody>
</table>
</div>



<h2><%= link_to "What issues have your vehicles had?", vehicle_issues_path %></h2>

<h2><%= link_to "All High Mileage Vehicles", vehicles_high_mileage_path %></h2>



