<h1>Add your vehicle!</h1>
<h1>hello <%= current_user.name %></h1>

<%= form_for @vehicle do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @user} %>

    <%= f.label :vehicle_name%>
    <%= f.text_field :vehicle_name%>

    <%= f.label :make %>
    <%= f.text_field :make %>

    <%= f.label :model %>
    <%= f.text_field :model %>

    <%= f.label :year %>
    <%= f.number_field :year %>

    <%= f.label :mileage %>
    <%= f.number_field :mileage %>

    <%= f.label :wheel_size %>
    <%= f.number_field :wheel_size %>

    <%= f.label :color %>
    <%= f.text_field :color, value: @vehicle.color%>

    <%= f.submit "Add your vehicle" %>

    <% end %>
