<%= link_to "Vehicles Home", vehicles_path%>
<br />
<br />
<table style="width:50%">
<thead class="white">
<tr>
<th>Vehicle Name</th>
<th>Make</th>
<th>Model</th>
<th>Year</th>
<th>Mileage</th>
<th>Wheel size</th>
<th>Color</th>
<th>High Mileage</th>
</tr>
</thead>
<tbody class="white">
<tr>
<td><%= @vehicle.vehicle_name  %></td>
<td><%= @vehicle.make.capitalize %></td>
<td><%= @vehicle.model.capitalize %></td>
<td><%= @vehicle.year %></td>
<td><%= @vehicle.mileage %></td>
<td><%= @vehicle.wheel_size %></td>
<td><%= @vehicle.color %></td>
<td><%= !!@vehicle.high_mileage_vehicles? %></td>
</tr>
</tbody>
</table>

<h1><%= link_to "What issues are you having?", new_vehicle_issue_path(@vehicle.id)%></h1>



<h1><%= link_to "Edit your Vehicle", edit_vehicle_path%></h1>