<!DOCTYPE html>
<html>
  <head>
    <title>MatsukoMechanicsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>Welcome Matsuko's Mechanics</h1>
      <%  if current_mechanic.admin %>
      <%= current_mechanic.name %>
      <% end %>
      
    
    <%= yield %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
    
    <h1>Welcome Matsuko's Admin</h1>
    
    
    
    


    
  </body>
</html>